## 패키지

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm

## 데이터

In [14]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
submission = pd.read_csv('./data/sample_submission.csv')

In [9]:
test[test.단지코드=='C2152']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,-,-,0.0,1.0,40.0
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,-,-,0.0,1.0,40.0

In [12]:
train[train.단지코드=='C2186']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,-,-,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,-,-,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,-,-,0.0,8.0,664.0,744.0
2909,C2186,924,아파트,대구광역시,국민임대,46.51,188,0.0,H,25981000,248630,0.0,8.0,664.0,744.0
2910,C2186,924,아파트,대구광역시,영구임대,26.37,219,0.0,C,13126000,105870,0.0,8.0,664.0,744.0
2911,C2186,924,아파트,대구광역시,영구임대,26.54,13,0.0,C,13164000,106190,0.0,8.0,664.0,744.0

In [17]:
submission[submission.코드=='C2186']

AttributeError: 'DataFrame' object has no attribute '코드'

In [ ]:
submission

In [10]:
train[train.임대보증금=='-']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2547,C1326,1934,아파트,부산광역시,국민임대,24.72,472,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,부산광역시,국민임대,24.79,104,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,부산광역시,국민임대,26.83,590,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2680,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,-,-,0.0,3.0,338.0,345.0
2681,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,-,-,0.0,3.0,338.0,345.0
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,-,-,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,-,-,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,-,-,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,-,-,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,-,-,0.0,8.0,664.0,744.0

In [3]:
train.shape, test.shape

((2952, 15), (1022, 14))

In [15]:
train['지역'].value_counts()

경기도        621
경상남도       369
부산광역시      323
대전광역시      266
강원도        183
충청북도       163
충청남도       158
전라남도       151
광주광역시      141
경상북도       119
전라북도       109
대구광역시       99
제주특별자치도     91
서울특별시       64
세종특별자치시     47
울산광역시       36
Name: 지역, dtype: int64

In [4]:
train.sample(10, random_state = 1)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2608,C1659,902,아파트,광주광역시,행복주택,44.96,12,32.0,N,39064000,221360,0.0,2.0,635.0,416.0
812,C2212,697,상가,강원도,임대상가,31.84,1,0.0,D,NaN,NaN,0.0,4.0,128.0,86.0
2841,C2225,1206,아파트,경상남도,행복주택,16.27,44,49.0,K,32758000,17060,0.0,3.0,842.0,448.0
1520,C2527,383,아파트,경기도,국민임대,51.93,20,8.0,A,43819000,275900,0.0,3.0,317.0,375.0
589,C1439,1755,상가,부산광역시,임대상가,20.90,1,29.0,D,NaN,NaN,1.0,3.0,270.0,172.0
98,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000,69900,NaN,2.0,97.0,62.0
909,C1014,996,아파트,전라북도,국민임대,51.72,116,5.0,A,26435000,162210,0.0,2.0,823.0,708.0
255,C2038,785,상가,대전광역시,임대상가,31.85,1,7.0,D,NaN,NaN,1.0,10.0,150.0,108.0
192,C1616,1507,상가,대전광역시,임대상가,54.51,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
1554,C1102,522,아파트,강원도,국민임대,46.91,170,21.0,A,17342000,208110,0.0,7.0,525.0,417.0

In [5]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [6]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

## 결측치 확인

In [8]:
pd.unique(train['임대보증금'].values)

array(['15667000', '27304000', '30357000', '9216000', '12672000',
       '18433000', '23042000', '15620000', '27637000', '36048000',
       '42056000', '15607000', '23139000', '29209000', '12015000',
       '21628000', '25233000', '29551000', '43990000', '49854000',
       '17730000', '23641000', '35462000', '41372000', '10813000',
       '16821000', '32443000', '15271000', '15407000', '17687000',
       '9714000', '10244000', '11807000', '8052000', '9174000', nan,
       '19436000', '28252000', '17460000', '19954000', '28687000',
       '3141000', '3731000', '11492000', '14215000', '14292000',
       '3138000', '3631000', '13930000', '17568000', '14247000',
       '20173000', '21203000', '22307000', '27885000', '5787000',
       '6873000', '11574000', '13155000', '17389000', '17405000',
       '17423000', '19975000', '54040000', '8625000', '8710000',
       '8848000', '16852000', '22471000', '28714000', '34956000',
       '10043000', '13101000', '7744000', '8813000', '11620000',
       '14418000', '8133000', '9261000', '12483000', '19973000',
       '23720000', '11234000', '14981000', '18726000', '24343000',
       '10363000', '10060000', '8083000', '9670000', '9363000',
       '10692000', '13554000', '12953000', '17417000', '20018000',
       '3912000', '4646000', '20163000', '20345000', '23355000',
       '9401000', '9493000', '7721000', '8775000', '11879000', '8684000',
       '11095000', '13221000', '13365000', '24969000', '29962000',
       '13731000', '25966000', '27465000', '36205000', '4028000',
       '4661000', '14110000', '16834000', '15395000', '15418000',
       '12864000', '9592000', '10279000', '12563000', '16205000',
       '16348000', '18770000', '4682000', '4728000', '8670000',
       '11147000', '19819000', '4032000', '4789000', '11682000',
       '55413000', '25964000', '3056000', '21134000', '26258000',
       '34585000', '11774000', '18984000', '21266000', '9852000',
       '18023000', '24032000', '9233000', '15235000', '9731000',
       '17302000', '21868000', '9074000', '13612000', '11022000',
       '13469000', '14555000', '39668000', '45613000', '11053000',
       '26435000', '12387000', '24775000', '9972000', '21027000',
       '11414000', '13216000', '17541000', '9811000', '15583000',
       '25394000', '31242000', '13697000', '19225000', '13158000',
       '16737000', '76506000', '34398000', '9611000', '18557000',
       '26122000', '42909000', '55558000', '21606000', '26054000',
       '13625000', '17342000', '22969000', '15354000', '19787000',
       '30221000', '22876000', '25419000', '8394000', '15590000',
       '19187000', '8738000', '17477000', '21221000', '16723000',
       '21058000', '37454000', '45193000', '61674000', '20770000',
       '24665000', '29859000', '39641000', '78080000', '29730000',
       '26217000', '32459000', '13022000', '17704000', '16140000',
       '23131000', '19050000', '19223000', '22067000', '13987000',
       '17708000', '18101000', '31210000', '13633000', '14742000',
       '17499000', '22628000', '27657000', '23536000', '28214000',
       '31583000', '21555000', '26385000', '34562000', '15111000',
       '28838000', '35455000', '15376000', '18301000', '23743000',
       '17362000', '20086000', '23196000', '26082000', '13007000',
       '14863000', '20439000', '19108000', '24207000', '21497000',
       '33448000', '43357000', '13145000', '15690000', '17614000',
       '20233000', '19472000', '23367000', '19064000', '13191000',
       '17989000', '22786000', '12026000', '15304000', '26642000',
       '29470000', '15859000', '19343000', '16912000', '23473000',
       '31575000', '38525000', '9985000', '11380000', '13909000',
       '18968000', '22763000', '32454000', '17962000', '32208000',
       '19572000', '34810000', '44348000', '56985000', '26014000',
       '40880000', '50791000', '28491000', '35924000', '16875000',
       '20122000', '22895000', '27715000', '11469000', '14475000',
       '15252000', '19204000', '22579000', '17102000', '31958000',
       '41572000', '16971000', '31711000', '51658000', '41252000',
       '12709000', '16520000', '15577000', '11437000', '13979000',
       '22793000', '27887000', '16225000', '22173000', '24402000',
       '11270000', '12392000', '17451000', '9908000', '16102000',
       '8113000', '17228000', '18175000', '41543000', '16649000',
       '19953000', '22241000', '17792000', '20971000', '23512000',
       '21420000', '24017000', '27263000', '12461000', '17395000',
       '15729000', '21971000', '25343000', '15250000', '20333000',
       '19221000', '19318000', '18476000', '34082000', '43819000',
       '19895000', '28921000', '11858000', '16104000', '24218000',
       '37164000', '19349000', '25468000', '38077000', '17851000',
       '24093000', '9154000', '20247000', '8435000', '14278000',
       '29086000', '17977000', '31834000', '41697000', '58053000',
       '13952000', '17600000', '25023000', '30969000', '14908000',
       '19000000', '18425000', '21796000', '16213000', '21202000',
       '10651000', '15360000', '65856600', '81223800', '27252000',
       '12646000', '11303000', '13813000', '16789000', '10528000',
       '14244000', '14643000', '16814000', '17004000', '23496000',
       '36089000', '13357000', '16168000', '19593000', '25293000',
       '14487000', '20525000', '27044000', '18581000', '12571000',
       '16341000', '9111000', '10073000', '13759000', '16507000',
       '17096000', '24350000', '29893000', '11983000', '14606000',
       '16185000', '18589000', '21939000', '16465000', '25834000',
       '11767000', '11175000', '14213000', '21259000', '24297000',
       '18092000', '20677000', '13760000', '18767000', '9290000',
       '18075000', '21690000', '10803000', '14404000', '15604000',
       '16350000', '38402000', '8050000', '22808000', '37213000',
       '45617000', '61224000', '9792000', '13824000', '17281000',
       '21889000', '83286000', '11542000', '18468000', '21931000',
       '20330000', '28369000', '45747000', '54494000', '8890000',
       '11533000', '16581000', '11174000', '12254000', '76089000',
       '93486000', '13986000', '19147000', '41505000', '50220000',
       '15340000', '21085000', '36242000', '44176000', '55540000',
       '16052000', '25224000', '50758000', '63166000', '125326000',
       '143545000', '145264000', '142744000', '10242000', '18173000',
       '22138000', '8598000', '14331000', '14181000', '19897000',
       '25614000', '15130000', '20802000', '25415000', '36839600',
       '17248000', '10638000', '16547000', '10923000', '19892000',
       '24837000', '11819000', '26005000', '20638000', '30269000',
       '48844000', '58132000', '18646000', '123711000', '144496000',
       '10500000', '27090000', '37485000', '194080000', '14516000',
       '20221000', '22766000', '26313000', '78957000', '90237000',
       '87444000', '174888000', '194562000', '216423000', '10827000',
       '23347000', '31980200', '5514000', '18047000', '24814000',
       '28199000', '44387000', '50775000', '20303000', '36095000',
       '21015000', '45003000', '9515000', '12728000', '9587000',
       '14663000', '23687000', '11729000', '20847000', '24139000',
       '187694000', '213863000', '15282000', '21024000', '45456000',
       '11490000', '14263000', '11661000', '15171000', '25815000',
       '7131000', '9984000', '24577000', '15791000', '21768000',
       '39703000', '9638000', '11869000', '21096000', '23733000',
       '27746000', '8778000', '16458000', '12089000', '13345000',
       '28407000', '7010000', '8500000', '7869000', '17051000',
       '22407000', '8088000', '13335000', '23281000', '26775000',
       '35910000', '65421000', '97005000', '99261000', '115052000',
       '117309000', '29000000', '36000000', '31000000', '35800000',
       '46000000', '26225000', '27274000', '37764000', '27300000',
       '35700000', '47001000', '61210000', '120611000', '135521000',
       '135531000', '136646000', '136628000', '8458000', '14264000',
       '17556000', '8564000', '12947000', '28055000', '7864000',
       '28856000', '35196000', '36019000', '36113000', '44868000',
       '8635000', '10602000', '22844000', '12064000', '11532000',
       '15046000', '25700000', '19784000', '37163000', '14196000',
       '19656000', '36036000', '44772000', '7651000', '9247000',
       '19893000', '13441000', '27097000', '32473000', '6451000',
       '7527000', '17204000', '11586000', '13663000', '25140000',
       '30605000', '38256000', '7350000', '9450000', '114953000',
       '9032000', '18279000', '27311000', '11397000', '26774000',
       '7175000', '8707000', '14756000', '39349000', '48312000',
       '10666000', '13107000', '28633000', '31967000', '6989000',
       '16129000', '18817000', '57000000', '31963000', '41054000',
       '41253000', '41489000', '33000000', '40000000', '50000000',
       '28013000', '37474000', '37385000', '54612000', '63585000',
       '63501000', '39000000', '45000000', '9677000', '21505000',
       '24731000', '42681000', '54132000', '11370000', '19171000',
       '26851000', '11269000', '19014000', '26673000', '30112000',
       '11217000', '24389000', '10215000', '22043000', '5914000',
       '7204000', '15806000', '13118000', '17849000', '124970000',
       '139418000', '22581000', '18225000', '39354000', '10220000',
       '12906000', '7741000', '9461000', '20430000', '11117000',
       '15198000', '33436000', '6483000', '7645000', '16634000',
       '45995000', '35000000', '44000000', '7956000', '9569000',
       '19978000', '49000000', '55000000', '61000000', '63000000',
       '65000000', '30709000', '10514000', '13262000', '22000000',
       '30000000', '66000000', '79500000', '9800000', '12800000',
       '27500000', '15927000', '27066000', '13533000', '16343000',
       '36122000', '43617000', '7794000', '9500000', '7783000', '9506000',
       '20998000', '5840000', '8223000', '17884000', '7172000',
       '48000000', '58000000', '6766000', '24984000', '9110000',
       '11430000', '27280000', '7708000', '9719000', '23095000',
       '17021000', '19451000', '23892000', '51763000', '10718000',
       '12881000', '14813000', '30813000', '47896000', '53018000',
       '60898000', '16031000', '30928000', '47698000', '19880000',
       '20680000', '24800000', '33920000', '7870000', '9930000',
       '23640000', '47288000', '-', '40572000', '18284000', '23352000',
       '23908000', '63613000', '16243000', '129988000', '9316000',
       '9328000', '72960000', '15992000', '127360000', '10319000',
       '10360000', '36494000', '46260000', '8200000', '12500000',
       '25000000', '8377000', '23000000', '26000000', '32000000',
       '9672000', '18624000', '29054000', '7973000', '18488000',
       '35279000', '52237000', '12139000', '14616000', '23370000',
       '32110000', '41120000', '39064000', '9859000', '8112000',
       '20460000', '21220000', '24660000', '34140000', '43000000',
       '18217000', '34967000', '54829000', '32896000', '38000000',
       '54000000', '75000000', '30560000', '70000000', '12920000',
       '14212000', '13946000', '15884000', '15580000', '20976000',
       '40400000', '69600000', '84000000', '100400000', '15960000',
       '15520000', '26200000', '13320000', '12720000', '19720000',
       '6887000', '8943000', '20560000', '7048000', '7126000', '7252000',
       '9061000', '21271000', '23438000', '37008000', '37419000',
       '51811000', '32800000', '34400000', '46400000', '9000000',
       '18000000', '27000000', '8184000', '9171000', '24948000',
       '16800000', '25600000', '35200000', '15080000', '22440000',
       '30120000', '7200000', '16700000', '53000000', '7700000',
       '13200000', '20800000', '69000000', '19760000', '19360000',
       '23520000', '31880000', '20480000', '34499000', '33216000',
       '50657000', '71616000', '27961000', '64147000', '25200000',
       '34800000', '28560000', '42680000', '55680000', '16400000',
       '24520000', '33640000', '33888000', '32758000', '51961000',
       '72294000', '41200000', '64400000', '86800000', '8700000',
       '14700000', '12700000', '22832000', '38556000', '16768000',
       '25504000', '26364000', '34340000', '14920000', '19260000',
       '18792000', '22870000', '38330000', '18280000', '18040000',
       '27640000', '27720000', '38080000', '18915000', '26316000',
       '33307000', '32484000', '38652000', '42913000', '67718000',
       '68963000', '91414000', '9470000', '17820000', '25894000',
       '7557000', '14060000', '21792000', '25981000', '13126000',
       '13164000', '8563000', '18140000', '29080000', '25840000',
       '33440000', '39520000', '53580000', '63840000', '10000000',
       '15500000', '27650000', '28000000', '38400000', '10346000',
       '11346000', '14005000', '14830000'], dtype=object)

In [12]:
idx = train[train['임대보증금'] == '-'].index
train.drop(idx ,inplace=True)

In [14]:
pd.unique(train['임대보증금'].values)

array(['15667000', '27304000', '30357000', '9216000', '12672000',
       '18433000', '23042000', '15620000', '27637000', '36048000',
       '42056000', '15607000', '23139000', '29209000', '12015000',
       '21628000', '25233000', '29551000', '43990000', '49854000',
       '17730000', '23641000', '35462000', '41372000', '10813000',
       '16821000', '32443000', '15271000', '15407000', '17687000',
       '9714000', '10244000', '11807000', '8052000', '9174000', nan,
       '19436000', '28252000', '17460000', '19954000', '28687000',
       '3141000', '3731000', '11492000', '14215000', '14292000',
       '3138000', '3631000', '13930000', '17568000', '14247000',
       '20173000', '21203000', '22307000', '27885000', '5787000',
       '6873000', '11574000', '13155000', '17389000', '17405000',
       '17423000', '19975000', '54040000', '8625000', '8710000',
       '8848000', '16852000', '22471000', '28714000', '34956000',
       '10043000', '13101000', '7744000', '8813000', '11620000',
       '14418000', '8133000', '9261000', '12483000', '19973000',
       '23720000', '11234000', '14981000', '18726000', '24343000',
       '10363000', '10060000', '8083000', '9670000', '9363000',
       '10692000', '13554000', '12953000', '17417000', '20018000',
       '3912000', '4646000', '20163000', '20345000', '23355000',
       '9401000', '9493000', '7721000', '8775000', '11879000', '8684000',
       '11095000', '13221000', '13365000', '24969000', '29962000',
       '13731000', '25966000', '27465000', '36205000', '4028000',
       '4661000', '14110000', '16834000', '15395000', '15418000',
       '12864000', '9592000', '10279000', '12563000', '16205000',
       '16348000', '18770000', '4682000', '4728000', '8670000',
       '11147000', '19819000', '4032000', '4789000', '11682000',
       '55413000', '25964000', '3056000', '21134000', '26258000',
       '34585000', '11774000', '18984000', '21266000', '9852000',
       '18023000', '24032000', '9233000', '15235000', '9731000',
       '17302000', '21868000', '9074000', '13612000', '11022000',
       '13469000', '14555000', '39668000', '45613000', '11053000',
       '26435000', '12387000', '24775000', '9972000', '21027000',
       '11414000', '13216000', '17541000', '9811000', '15583000',
       '25394000', '31242000', '13697000', '19225000', '13158000',
       '16737000', '76506000', '34398000', '9611000', '18557000',
       '26122000', '42909000', '55558000', '21606000', '26054000',
       '13625000', '17342000', '22969000', '15354000', '19787000',
       '30221000', '22876000', '25419000', '8394000', '15590000',
       '19187000', '8738000', '17477000', '21221000', '16723000',
       '21058000', '37454000', '45193000', '61674000', '20770000',
       '24665000', '29859000', '39641000', '78080000', '29730000',
       '26217000', '32459000', '13022000', '17704000', '16140000',
       '23131000', '19050000', '19223000', '22067000', '13987000',
       '17708000', '18101000', '31210000', '13633000', '14742000',
       '17499000', '22628000', '27657000', '23536000', '28214000',
       '31583000', '21555000', '26385000', '34562000', '15111000',
       '28838000', '35455000', '15376000', '18301000', '23743000',
       '17362000', '20086000', '23196000', '26082000', '13007000',
       '14863000', '20439000', '19108000', '24207000', '21497000',
       '33448000', '43357000', '13145000', '15690000', '17614000',
       '20233000', '19472000', '23367000', '19064000', '13191000',
       '17989000', '22786000', '12026000', '15304000', '26642000',
       '29470000', '15859000', '19343000', '16912000', '23473000',
       '31575000', '38525000', '9985000', '11380000', '13909000',
       '18968000', '22763000', '32454000', '17962000', '32208000',
       '19572000', '34810000', '44348000', '56985000', '26014000',
       '40880000', '50791000', '28491000', '35924000', '16875000',
       '20122000', '22895000', '27715000', '11469000', '14475000',
       '15252000', '19204000', '22579000', '17102000', '31958000',
       '41572000', '16971000', '31711000', '51658000', '41252000',
       '12709000', '16520000', '15577000', '11437000', '13979000',
       '22793000', '27887000', '16225000', '22173000', '24402000',
       '11270000', '12392000', '17451000', '9908000', '16102000',
       '8113000', '17228000', '18175000', '41543000', '16649000',
       '19953000', '22241000', '17792000', '20971000', '23512000',
       '21420000', '24017000', '27263000', '12461000', '17395000',
       '15729000', '21971000', '25343000', '15250000', '20333000',
       '19221000', '19318000', '18476000', '34082000', '43819000',
       '19895000', '28921000', '11858000', '16104000', '24218000',
       '37164000', '19349000', '25468000', '38077000', '17851000',
       '24093000', '9154000', '20247000', '8435000', '14278000',
       '29086000', '17977000', '31834000', '41697000', '58053000',
       '13952000', '17600000', '25023000', '30969000', '14908000',
       '19000000', '18425000', '21796000', '16213000', '21202000',
       '10651000', '15360000', '65856600', '81223800', '27252000',
       '12646000', '11303000', '13813000', '16789000', '10528000',
       '14244000', '14643000', '16814000', '17004000', '23496000',
       '36089000', '13357000', '16168000', '19593000', '25293000',
       '14487000', '20525000', '27044000', '18581000', '12571000',
       '16341000', '9111000', '10073000', '13759000', '16507000',
       '17096000', '24350000', '29893000', '11983000', '14606000',
       '16185000', '18589000', '21939000', '16465000', '25834000',
       '11767000', '11175000', '14213000', '21259000', '24297000',
       '18092000', '20677000', '13760000', '18767000', '9290000',
       '18075000', '21690000', '10803000', '14404000', '15604000',
       '16350000', '38402000', '8050000', '22808000', '37213000',
       '45617000', '61224000', '9792000', '13824000', '17281000',
       '21889000', '83286000', '11542000', '18468000', '21931000',
       '20330000', '28369000', '45747000', '54494000', '8890000',
       '11533000', '16581000', '11174000', '12254000', '76089000',
       '93486000', '13986000', '19147000', '41505000', '50220000',
       '15340000', '21085000', '36242000', '44176000', '55540000',
       '16052000', '25224000', '50758000', '63166000', '125326000',
       '143545000', '145264000', '142744000', '10242000', '18173000',
       '22138000', '8598000', '14331000', '14181000', '19897000',
       '25614000', '15130000', '20802000', '25415000', '36839600',
       '17248000', '10638000', '16547000', '10923000', '19892000',
       '24837000', '11819000', '26005000', '20638000', '30269000',
       '48844000', '58132000', '18646000', '123711000', '144496000',
       '10500000', '27090000', '37485000', '194080000', '14516000',
       '20221000', '22766000', '26313000', '78957000', '90237000',
       '87444000', '174888000', '194562000', '216423000', '10827000',
       '23347000', '31980200', '5514000', '18047000', '24814000',
       '28199000', '44387000', '50775000', '20303000', '36095000',
       '21015000', '45003000', '9515000', '12728000', '9587000',
       '14663000', '23687000', '11729000', '20847000', '24139000',
       '187694000', '213863000', '15282000', '21024000', '45456000',
       '11490000', '14263000', '11661000', '15171000', '25815000',
       '7131000', '9984000', '24577000', '15791000', '21768000',
       '39703000', '9638000', '11869000', '21096000', '23733000',
       '27746000', '8778000', '16458000', '12089000', '13345000',
       '28407000', '7010000', '8500000', '7869000', '17051000',
       '22407000', '8088000', '13335000', '23281000', '26775000',
       '35910000', '65421000', '97005000', '99261000', '115052000',
       '117309000', '29000000', '36000000', '31000000', '35800000',
       '46000000', '26225000', '27274000', '37764000', '27300000',
       '35700000', '47001000', '61210000', '120611000', '135521000',
       '135531000', '136646000', '136628000', '8458000', '14264000',
       '17556000', '8564000', '12947000', '28055000', '7864000',
       '28856000', '35196000', '36019000', '36113000', '44868000',
       '8635000', '10602000', '22844000', '12064000', '11532000',
       '15046000', '25700000', '19784000', '37163000', '14196000',
       '19656000', '36036000', '44772000', '7651000', '9247000',
       '19893000', '13441000', '27097000', '32473000', '6451000',
       '7527000', '17204000', '11586000', '13663000', '25140000',
       '30605000', '38256000', '7350000', '9450000', '114953000',
       '9032000', '18279000', '27311000', '11397000', '26774000',
       '7175000', '8707000', '14756000', '39349000', '48312000',
       '10666000', '13107000', '28633000', '31967000', '6989000',
       '16129000', '18817000', '57000000', '31963000', '41054000',
       '41253000', '41489000', '33000000', '40000000', '50000000',
       '28013000', '37474000', '37385000', '54612000', '63585000',
       '63501000', '39000000', '45000000', '9677000', '21505000',
       '24731000', '42681000', '54132000', '11370000', '19171000',
       '26851000', '11269000', '19014000', '26673000', '30112000',
       '11217000', '24389000', '10215000', '22043000', '5914000',
       '7204000', '15806000', '13118000', '17849000', '124970000',
       '139418000', '22581000', '18225000', '39354000', '10220000',
       '12906000', '7741000', '9461000', '20430000', '11117000',
       '15198000', '33436000', '6483000', '7645000', '16634000',
       '45995000', '35000000', '44000000', '7956000', '9569000',
       '19978000', '49000000', '55000000', '61000000', '63000000',
       '65000000', '30709000', '10514000', '13262000', '22000000',
       '30000000', '66000000', '79500000', '9800000', '12800000',
       '27500000', '15927000', '27066000', '13533000', '16343000',
       '36122000', '43617000', '7794000', '9500000', '7783000', '9506000',
       '20998000', '5840000', '8223000', '17884000', '7172000',
       '48000000', '58000000', '6766000', '24984000', '9110000',
       '11430000', '27280000', '7708000', '9719000', '23095000',
       '17021000', '19451000', '23892000', '51763000', '10718000',
       '12881000', '14813000', '30813000', '47896000', '53018000',
       '60898000', '16031000', '30928000', '47698000', '19880000',
       '20680000', '24800000', '33920000', '7870000', '9930000',
       '23640000', '47288000', '40572000', '18284000', '23352000',
       '23908000', '63613000', '16243000', '129988000', '9316000',
       '9328000', '72960000', '15992000', '127360000', '10319000',
       '10360000', '36494000', '46260000', '8200000', '12500000',
       '25000000', '8377000', '23000000', '26000000', '32000000',
       '9672000', '18624000', '29054000', '7973000', '18488000',
       '35279000', '52237000', '12139000', '14616000', '23370000',
       '32110000', '41120000', '39064000', '9859000', '8112000',
       '20460000', '21220000', '24660000', '34140000', '43000000',
       '18217000', '34967000', '54829000', '32896000', '38000000',
       '54000000', '75000000', '30560000', '70000000', '12920000',
       '14212000', '13946000', '15884000', '15580000', '20976000',
       '40400000', '69600000', '84000000', '100400000', '15960000',
       '15520000', '26200000', '13320000', '12720000', '19720000',
       '6887000', '8943000', '20560000', '7048000', '7126000', '7252000',
       '9061000', '21271000', '23438000', '37008000', '37419000',
       '51811000', '32800000', '34400000', '46400000', '9000000',
       '18000000', '27000000', '8184000', '9171000', '24948000',
       '16800000', '25600000', '35200000', '15080000', '22440000',
       '30120000', '7200000', '16700000', '53000000', '7700000',
       '13200000', '20800000', '69000000', '19760000', '19360000',
       '23520000', '31880000', '20480000', '34499000', '33216000',
       '50657000', '71616000', '27961000', '64147000', '25200000',
       '34800000', '28560000', '42680000', '55680000', '16400000',
       '24520000', '33640000', '33888000', '32758000', '51961000',
       '72294000', '41200000', '64400000', '86800000', '8700000',
       '14700000', '12700000', '22832000', '38556000', '16768000',
       '25504000', '26364000', '34340000', '14920000', '19260000',
       '18792000', '22870000', '38330000', '18280000', '18040000',
       '27640000', '27720000', '38080000', '18915000', '26316000',
       '33307000', '32484000', '38652000', '42913000', '67718000',
       '68963000', '91414000', '9470000', '17820000', '25894000',
       '7557000', '14060000', '21792000', '25981000', '13126000',
       '13164000', '8563000', '18140000', '29080000', '25840000',
       '33440000', '39520000', '53580000', '63840000', '10000000',
       '15500000', '27650000', '28000000', '38400000', '10346000',
       '11346000', '14005000', '14830000'], dtype=object)

In [27]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [28]:
test.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

## 컬럼명 변경

지하쳘역 수와 버스 정류장 수의 컬럼명을 지하철, 버스로 변경하였습니다.

In [16]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [17]:
train.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수', '등록차량수'
]

test.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수'
]

## 지역명 숫자로 매핑

In [18]:
local_map = {}
for i, loc in enumerate(train['지역'].unique()):
    local_map[loc] = i

In [19]:
train['지역'] = train['지역'].map(local_map)
test['지역'] = test['지역'].map(local_map)

## 전용면적을 5의 배수로 변경

In [20]:
train['전용면적'] = train['전용면적']//5*5
test['전용면적'] = test['전용면적']//5*5

## 전용면적 상/하한 적용

상한100, 하한 15

In [21]:
idx = train[train['전용면적']>100].index
train.loc[idx, '전용면적'] = 100
idx = test[test['전용면적']>100].index
test.loc[idx, '전용면적'] = 100

idx = train[train['전용면적']<15].index
train.loc[idx, '전용면적'] = 15
idx = test[test['전용면적']<15].index
test.loc[idx, '전용면적'] = 15

In [22]:
test['전용면적'].unique()

array([ 35.,  45.,  50.,  30.,  55.,  25.,  75., 100.,  15.,  20.,  40.,
        60.,  80.,  70.])

## 단지별 데이터 1차원으로 취합

In [23]:
columns = ['단지코드', '총세대수', '공가수', '지역', '단지내주차면수', '지하철', '버스']
target = '등록차량수'
area_columns = []
for area in train['전용면적'].unique():
    area_columns.append(f'면적_{area}')

In [24]:
area_columns

['면적_35.0',
 '면적_50.0',
 '면적_55.0',
 '면적_30.0',
 '면적_45.0',
 '면적_40.0',
 '면적_25.0',
 '면적_70.0',
 '면적_15.0',
 '면적_20.0',
 '면적_100.0',
 '면적_60.0',
 '면적_75.0',
 '면적_80.0',
 '면적_65.0']

In [25]:
new_train = pd.DataFrame()
new_test = pd.DataFrame()

In [26]:
for i, code in tqdm(enumerate(train['단지코드'].unique())):
    temp = train[train['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_train.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_train.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()
    
    new_train.loc[i, '등록차량수'] = temp.loc[0, '등록차량수']
    
for i, code in tqdm(enumerate(test['단지코드'].unique())):
    temp = test[test['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_test.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_test.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()

422it [00:04, 88.98it/s]
150it [00:01, 93.21it/s]

In [19]:
new_train

,단지코드,총세대수,공가수,지역,단지내주차면수,지하철,버스,면적_35.0,면적_50.0,면적_55.0,...,면적_25.0,면적_70.0,면적_15.0,면적_20.0,면적_100.0,면적_60.0,면적_75.0,면적_80.0,면적_65.0,등록차량수
0,C2483,900.0,38.0,0.0,1425.0,0.0,3.0,149.0,665.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1015.0
1,C2515,545.0,17.0,1.0,624.0,0.0,3.0,80.0,132.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,205.0
2,C1407,1216.0,13.0,2.0,1285.0,1.0,1.0,0.0,124.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1064.0
3,C1945,755.0,6.0,3.0,734.0,1.0,3.0,240.0,303.0,212.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,730.0
4,C1470,696.0,14.0,4.0,645.0,0.0,2.0,254.0,246.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,C2586,90.0,7.0,9.0,66.0,0.0,3.0,36.0,0.0,0.0,...,42.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0
419,C2035,492.0,24.0,5.0,521.0,0.0,1.0,156.0,0.0,0.0,...,156.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,246.0
420,C2020,40.0,7.0,8.0,25.0,1.0,2.0,15.0,0.0,0.0,...,5.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
421,C2437,90.0,12.0,11.0,30.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,16.0
422,C2532,239.0,7.0,5.0,166.0,0.0,1.0,0.0,201.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.0

In [29]:
new_test

,단지코드,총세대수,공가수,지역,단지내주차면수,지하철,버스,면적_35.0,면적_50.0,면적_55.0,...,면적_40.0,면적_25.0,면적_70.0,면적_15.0,면적_20.0,면적_100.0,면적_60.0,면적_75.0,면적_80.0,면적_65.0
0,C1072,754.0,14.0,3.0,683.0,0.0,2.0,116.0,376.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,C1128,1354.0,9.0,3.0,1216.0,0.0,3.0,420.0,578.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,C1456,619.0,18.0,8.0,547.0,0.0,16.0,165.0,132.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,C1840,593.0,7.0,4.0,543.0,0.0,3.0,335.0,84.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C1332,1297.0,11.0,3.0,1112.0,0.0,2.0,425.0,304.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,C2456,349.0,17.0,9.0,270.0,0.0,4.0,138.0,0.0,0.0,...,0.0,112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146,C1266,596.0,35.0,11.0,593.0,0.0,1.0,304.0,0.0,0.0,...,0.0,180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
147,C2152,120.0,9.0,5.0,40.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,66.0,0.0,0.0,0.0,0.0,0.0
148,C1267,675.0,38.0,1.0,467.0,0.0,1.0,126.0,0.0,0.0,...,0.0,74.0,0.0,50.0,240.0,0.0,0.0,0.0,0.0,0.0
149,C2189,382.0,45.0,4.0,300.0,0.0,2.0,202.0,0.0,0.0,...,0.0,116.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 결측치 처리

In [20]:
new_train = new_train.fillna(-1)
new_test = new_test.fillna(-1)

## 학습

In [21]:
x_train = new_train.iloc[:, 1:-1]
y_train = new_train.iloc[:,-1]
x_test = new_test.iloc[:,1:]

In [22]:
model = RandomForestRegressor(n_jobs=-1, random_state=42)

In [23]:
model.fit(x_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

## 추론 및 제출

In [24]:
pred = model.predict(x_test)

In [25]:
submission['num'] = pred

In [26]:
submission.to_csv('baseline.csv', index=False)

In [28]:
submission.head

<bound method NDFrame.head of       code  num
0    C1072    0
1    C1128    0
2    C1456    0
3    C1840    0
4    C1332    0
..     ...  ...
145  C2456    0
146  C1266    0
147  C2152    0
148  C1267    0
149  C2189    0

[150 rows x 2 columns]>